@model IEnumerable<StratusAccounting.Models.Asset>

@{
    ViewBag.Title = "AssetsList";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
    <div class="page-content">
        <!-- BEGIN PAGE CONTAINER-->
        <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <ul class="breadcrumb margin-top-20">
                        <li><i class="icon-home"></i><a href="/Home/Dashboard">Home</a> <i class="icon-angle-right"></i></li>
                        <li><a href="/Organization/Preferences">Organization</a></li>
                        <li><a href="/Organization/AssetsList"><i class="icon-angle-right"></i>Assets</a></li>
                    </ul>
                    <!-- END PAGE TITLE & BREADCRUMB-->
                </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet box blue border-topf">
                        <div class="portlet-body">
                            <h3 class="page-title matop border-btoom">Assets&nbsp;<a href="~/Organization/Assets"><i class="icon-plus-sign"></i> </a></h3>

                            <table class="table table-striped table-bordered table-hover table-full-width" id="sample_2">
                                <thead>
                                    <tr class="b1">
                                        <th class="hidden-480">Date</th>
                                        <th>@Html.ActionLink("Description","SortAssets",new{column="Description", direction=ViewBag.sortDirection})</th>
                                        <th>@Html.ActionLink("Vendor", "SortAssets", new { column = "Vendor", direction = ViewBag.sortDirection })</th>
                                        <th class="hidden-480">@Html.ActionLink("Purchased Date", "SortAssets", new { column = "PurchasedDate", direction = ViewBag.sortDirection })</th>
                                        <th class="hidden-480">@Html.ActionLink("Intial value $", "SortAssets", new { column = "IntialValue", direction = ViewBag.sortDirection }) </th>
                                        <th>@Html.ActionLink("current value $", "SortAssets", new { column = "CurrentValue", direction = ViewBag.sortDirection })</th>
                                    </tr>   
                                </thead>
                                <tbody id="rowsBody">
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="hidden-480">@item.CreatedDate</td>
                                            <td>@item.AssetDescription</td>
                                            <td>@item.UserVendorId</td>
                                            <td class="hidden-480">@item.PurchasedDate</td>
                                            <td class="hidden-480">@item.InitialValue</td>
                                            <td>@item.CurrentValue&nbsp;&nbsp;&nbsp;<div class="btn-group float-right">
                                                <button data-toggle="dropdown" class="btn dropdown-toggle padding-booton">
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li>@Html.ActionLink("View", "Assets", new { assetId = item.AssetsId })</li>
                                                    <li>@Html.ActionLink("Edit", "EditAsset", "Organization", new { assetId = @item.AssetsId }, null)
                                                    <li>@Html.ActionLink("Delete", "DeleteAsset", new { assetId = item.AssetsId })</li>
                                                </ul>
                                            </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                @*<tfoot> <tr><td colspan="4"><a>1</a><a>2</a></td><td></td><td></td><td></td></tr></tfoot>*@
                            </table>
                            
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
        <!-- END PAGE CONTAINER-->
    </div>
    
    @Scripts.Render("~/bundle/Script/Dashboard")
}