@model Intuit.Ipp.Data.Vendor

<fieldset>
    <legend>Vendor</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContactName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AltContactName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AltContactName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Notes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Notes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TaxCountry)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TaxCountry)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TaxIdentifier)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TaxIdentifier)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BusinessNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BusinessNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Balance)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Balance)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BalanceSpecified)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BalanceSpecified)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OpenBalanceDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OpenBalanceDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OpenBalanceDateSpecified)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OpenBalanceDateSpecified)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreditLimit)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreditLimit)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreditLimitSpecified)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreditLimitSpecified)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AcctNum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AcctNum)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Vendor1099)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Vendor1099)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Vendor1099Specified)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Vendor1099Specified)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.T4AEligible)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.T4AEligible)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.T4AEligibleSpecified)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.T4AEligibleSpecified)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.T5018Eligible)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.T5018Eligible)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.T5018EligibleSpecified)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.T5018EligibleSpecified)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IntuitId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IntuitId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Organization)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Organization)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrganizationSpecified)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrganizationSpecified)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GivenName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GivenName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MiddleName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MiddleName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FamilyName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FamilyName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Suffix)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Suffix)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FullyQualifiedName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FullyQualifiedName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CompanyName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompanyName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DisplayName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DisplayName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PrintOnCheckName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PrintOnCheckName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Active)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Active)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ActiveSpecified)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ActiveSpecified)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SyncToken)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SyncToken)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.domain)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.domain)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statusSpecified)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statusSpecified)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.sparse)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.sparse)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.sparseSpecified)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.sparseSpecified)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NameAndId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NameAndId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Overview)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Overview)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HeaderLite)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HeaderLite)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HeaderFull)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HeaderFull)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
