<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Stratus Adminpage</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    @Styles.Render("~/bundles/plugins")
    @Styles.Render("~/bundles/pagePlugins")
    @*@Styles.Render("~/bundle/Dashboard")
    @Styles.Render("~/bundles/bootstrap")
    @Styles.Render("~/bundle/Datepicker")*@
    @Styles.Render("~/bundle/Datepicker")
    @Scripts.Render("~/bundles/jquery")

    <link href="~/Scripts/plugins/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/Content/css/themes/default.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/style-stratus.css" rel="stylesheet" />

    @*<link href="~/Scripts/plugins/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />*@
    <script src="~/Scripts/plugins/data-tables/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Scripts/plugins/select2/select2_stratus.css" />
    <link rel="stylesheet" href="~/Scripts/plugins/data-tables/DT_bootstrap.css" />

    @*<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" rel="stylesheet" />*@
    <link href="~/Scripts/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/uniform/css/uniform.default.css" rel="stylesheet" />
    @*<link href="~/Content/css/style-stratus.css" rel="stylesheet" />*@
    <!-- END PAGE LEVEL STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed">
    <!-- BEGIN HEADER -->
    <div class="header navbar navbar-inverse navbar-fixed-top">
        <!-- BEGIN TOP NAVIGATION BAR -->
        <div class="navbar-inner">
            <div class="container-fluid">
                <!-- BEGIN LOGO -->
                <a class="brand" href="#">
                    <img src="~/Content/img/image001.png" alt="logo" />
                </a>
                <!-- END LOGO -->
                <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                <a href="#" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
                    <img src="~/Content/img/menu-toggler.png" alt="" />
                </a>
                <!-- END RESPONSIVE MENU TOGGLER -->
                <!-- BEGIN TOP NAVIGATION MENU -->
                @if (Request.Url.ToString().Contains("Organization"))
                {
                    <ul class="nav navbar-nav pull-left">
                        <li><a href="Preferences">Preferences</a> </li>
                        <li class="borderright"><a href="BankAccounts">Bank Accounts</a> </li>
                        <li class="borderright"><a href="Services">Services</a> </li>
                        <li class="borderright"><a href="Products">Products</a> </li>
                        <li class="borderright"><a href="Projects">Projects</a> </li>
                        <li class="borderright"><a href="Assets">Assets</a> </li>
                        @*<li class="borderright"><a href="DisplayCustomers">Quick Customer</a> </li>
                        <li class="borderright"><a href="DisplayVendors">Quick Vendors</a> </li>*@
                    </ul>
                }

@*@if (Request.Url.ToString().Contains("Transactions"))
                { 
                    <ul class="nav navbar-nav pull-left">
                        <li><a href="chart_of_accounts.html">Chart of Accounts </a></li>
                        <li class="borderright"><a href="journal.html">Journal </a></li>
                        <li class="borderright"><a href="payments.html">Payments </a></li>
                        <li class="borderright"><a href="recipts.html">Revenues </a></li>
                        <li class="borderright"><a href="invoice.html">Invoices </a></li>
                    </ul>
                }*@
                @Html.Partial("_LoginPartial")
                <!-- END TOP NAVIGATION MENU -->
            </div>
        </div>
        <!-- END TOP NAVIGATION BAR -->
    </div>
    <!-- END HEADER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container row-fluid">
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar nav-collapse collapse">
            <!-- BEGIN SIDEBAR MENU -->
            <ul class="page-sidebar-menu">
                <li>
                    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                    <div class="sidebar-toggler hidden-phone"></div>
                    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                </li>
                <li>
                    <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
                    <form class="sidebar-search">
                        <div class="input-box">
                            <a href="#" class="remove"></a>
                            <input type="text" placeholder="Search..." />
                            <input type="button" class="submit" value=" " />
                        </div>
                    </form>
                    <!-- END RESPONSIVE QUICK SEARCH FORM -->
                </li>
                <li class="start"><a href="#"><i class="icon-home"></i><span class="title">ORGANISATIONS</span> <span class="arrow "></span></a>
                    <ul class="sub-menu">
                        <li><a href="~/Organization/Preferences">Preferences </a></li>
                        <li><a href="~/Organization/BankAccounts">Bank Accounts </a></li>
                        <li><a href="~/Organization/Services">Services </a></li>
                        <li><a href="~/Organization/Products">Products </a></li>
                        <li><a href="~/Organization/Projects">Projects </a></li>
                        <li><a href="~/Organization/AssetsList">Assets </a></li>
                        <li><a href="#">Reconcile </a></li>
                        <li><a href="#">Account Closing</a> </li>
                    </ul>
                </li>
                <li><a href="#"><i class="icon-align-justify"></i><span class="title">TRANSACTIONS</span> <span class="arrow "></span></a>
                    <ul class="sub-menu">
                        <li><a href="~/Transactions/ChartAccounts">Chart of Accounts </a></li>
                        <li><a href="~/Transactions/Journal">Journal </a></li>
                        <li><a href="~/Transactions/Payment">Payments </a></li>
                        <li><a href="#">Revenues </a></li>
                        <li><a href="~/Invoices/Index">Invoices </a></li>
                    </ul>
                </li>
                <li><a href="#"><i class="icon-group"></i><span class="title">EMPLOYEES </span><span class="arrow "></span></a>
                    <ul style="" class="sub-menu">
                        <li><a href="#">Employees List </a></li>
                        <li><a href="#">Create </a></li>
                        <li><a href="#">Timesheet </a></li>
                        <li><a href="#">Vacation Schedule </a></li>
                        <li class=""><a href="#">Payroll </a></li>
                    </ul>
                </li>
                <li><a href="#"><i class="icon-user"></i><span class="title">CUSTOMERS</span> <span class="arrow "></span></a>
                    <ul style="" class="sub-menu">
                        <li><a href="~/Customer/Index">List </a></li>
                        <li><a href="~/Customer/NewCustomer">Add new </a></li>
                        <li><a href="#">Estimate</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class="icon-gift"></i><span class="title">VENDORS</span> <span class="arrow "></span></a>
                    <ul style="" class="sub-menu">
                        <li><a href="~/Vendors/UserVendors">List </a></li>
                        <li><a href="~/Vendors/NewVendor">Add new </a></li>
                        <li><a href="~/Vendors/PurchaseOrders">Purchase Orders </a></li>
                    </ul>
                </li>
                <li><a class="active" href="#"><i class="icon-bar-chart"></i><span class="title">REPORTS</span> <span class="arrow "></span></a>
                    <ul style="" class="sub-menu">
                        <li><a href="~/StratusReports/Ledger">Ledgers </a></li>
                        <li><a href="~/StratusReports/DayWise">Day wise </a></li>
                        <li><a href="~/StratusReports/MonthWise">Month wise </a></li>
                        <li><a href="~/StratusReports/ScheduleWise">Schedule wise </a></li>
                        <li><a href="~/StratusReports/TrailBalance">Trial Balance </a></li>
                        <li><a href="#">Trading Account </a></li>
                        <li><a href="#">Profit Loss </a></li>
                        <li><a href="#">Balance Sheet </a></li>
                        <li><a href="#">Cash Flow </a></li>
                        <li><a href="#">Summery </a></li>
                    </ul>
                </li>
                <li><a href="#"><i class="icon-folder-open"></i><span class="title">ADMINSTRATION</span> <span class="arrow "></span></a>
                    <ul style="" class="sub-menu">
                        <li><a href="#">Groups & Roles</a> </li>
                        <li><a href="#">IP Blocker</a> </li>
                        <li><a href="#">Licensing/users</a> </li>
                    </ul>
                </li>
            </ul>
            <!-- END SIDEBAR MENU -->
        </div>
        <!-- END SIDEBAR -->
        <!-- BEGIN PAGE -->
        @RenderBody()
        <!-- END PAGE -->
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div class="footer">
        <div class="footer-inner">2014 © Powered By Stratus Business Connection.  </div>
        <div class="footer-tools"><span class="go-top"><i class="icon-angle-up"></i></span></div>
    </div>

    <script src="~/Scripts/plugins/data-tables/DT_bootstrap.js"></script>
    <script>
        jQuery(document).ready(function () {
            App.init();
            TableAdvanced.init();
        });
    </script>
</body>
<!-- END BODY -->
</html>
<!---->
