@model StratusAccounting.Models.CustomersAddress

@{
    <h3 class="form-section matop">@Model.AddressType</h3>
    <div class="row-fluid">
        <div class="span6">
            <div class="control-group">
                <div class="controls">
                    <label class="control-label">Street</label>
                    @Html.TextBoxFor(model => model.AddressLine1, new { @class = "m-wrap span12 border-form-radius" })
                    @Html.ValidationMessageFor(model => model.AddressLine1)
                </div>
            </div>
        </div>
        <div class="span6">
            <div class="control-group">
                <div class="controls">
                    <label class="control-label">City</label>
                    @Html.TextBoxFor(model => model.CityId, new { @class = "m-wrap span12 border-form-radius",id="city" })
                    @Html.ValidationMessageFor(model => model.CityId)
                    @*<input type="text" class="m-wrap span12 border-form-radius">*@
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <div class="control-group">
                <div class="controls">
                    <label class="control-label">ZIP</label>
                    @*<input type="text" class="m-wrap span12 border-form-radius">*@
                    @Html.TextBoxFor(model => model.Zip, new { @class = "m-wrap span12 border-form-radius" })
                    @Html.ValidationMessageFor(model => model.Zip)
                </div>
            </div>
        </div>
        <div class="span6">
            <div class="control-group">
                <div class="controls">
                    <label class="control-label">County</label>
                    @Html.TextBoxFor(model => model.CountyId, new { @class = "m-wrap span12 border-form-radius", id="county" })
                    @Html.ValidationMessageFor(model => model.CountyId)
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <div class="control-group">
                <div class="controls">
                    <label class="control-label">State</label>
                    @Html.TextBoxFor(model => model.StateId, new { @class = "m-wrap span12 border-form-radius",id="state" })
                    @Html.ValidationMessageFor(model => model.StateId)
                </div>
            </div>
        </div>
        <div class="span6">
            <div class="control-group">
                <div class="controls">
                        <label class="control-label">Country</label>
                        @Html.HiddenFor(model => model.CountryId)
                        <input type="text" title="" class="m-wrap span12 border-form-radius" pattern="^[a-zA-Z''-'\s]{1,40}$" id="country" placeholder="Select Country" />
                    </div>
                @*<div class="controls">
                    <label class="control-label">Country</label>
                    @Html.TextBoxFor(model => model.CountryId, new { @class = "m-wrap span12 border-form-radius",id="country" })
                    @Html.ValidationMessageFor(model => model.CountryId)
                </div>*@
            </div>
        </div>
    </div>
}