@model  StratusAccounting.Models.UMst_TaxDetails

@{
    if (Model != null)
    {
            <div class="row-fluid">
                <div class="span6">
                        @Html.HiddenFor(model => model.TaxTypesId, new { @id = "hdnValue" + @Model.TaxTypesId })
                    <div class="control-group">
                        @*<label for="firstName" class="control-label">Federal Tax No</label>*@
                        <div class="controls">
                            <label class="control-label">@Model.TaxName Tax No</label>
                            @Html.TextBoxFor(model => model.TaxNumber, new { @class = "m-wrap span12 border-form-radius", id = "TaxNum" + @Model.TaxTypesId })
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="control-group">
                        @*<label for="firstName" class="control-label">Federal Tax %</label>*@
                        <div class="controls">
                            <label class="control-label">@Model.TaxName Tax %</label>
                            @Html.TextBoxFor(model => model.TaxValue, new { @class = "m-wrap span12 border-form-radius", id = "TaxValue" + @Model.TaxTypesId })
                        </div>
                    </div>
                </div>
            </div>
    }
}
