@model StratusAccounting.Models.User
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Styles.Render("~/bundle/login")


<link href="~/Content/css/style-stratus.css" rel="stylesheet" />
@using (Html.BeginForm("UserVerification", "Home", FormMethod.Post, new { @class = "form-vertical login-form" }))
{
    @Html.AntiForgeryToken()
    <div style="color: red">
        @Html.ValidationSummary(true)
    </div>
    
     <!-- BEGIN LOGIN FORM -->
           
                <h3 class="form-title">Login to your account</h3>
                <div class="alert alert-error hide">
                    <button class="close" data-dismiss="alert"></button>
                    <span>Enter any username and password.</span>
                </div>
                <div class="control-group">
                    <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                    <label class="control-label visible-ie8 visible-ie9">Username</label>
                    <div class="controls">
                        <div class="input-icon left">
                            <i class="icon-user"></i>
                            <input name="username" class="m-wrap placeholder-no-fix" type="text" placeholder="Username" autocomplete="off">
                        @Html.ValidationMessageFor(model => model.Email)
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label visible-ie8 visible-ie9">Password</label>
                    <div class="controls">
                        <div class="input-icon left">
                            <i class="icon-lock"></i>
                            <input name="password" class="m-wrap placeholder-no-fix" type="password" placeholder="Password" autocomplete="off">
                        @Html.ValidationMessageFor(model => model.UserPassword)
                        
                        </div>
                    </div>
                </div>
                @*<img style="margin: -13px 20% 10px;" alt="" src="img/capcha.png">*@
                <div class="control-group">
                    <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                    <p> <img src="/Home/ShowCaptchaImage" /> </p>
                    <label class="control-label visible-ie8 visible-ie9">Enter Code Here</label>
                    <div class="controls">
                        <div class="input-icon left">
                            <i class="icon-ok"></i>
                            <input name="CaptchaText" class="m-wrap placeholder-no-fix" type="text" placeholder="Enter Code Here" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <label class="checkbox">
                        <div class="checker"><span>
                            <input name="remember" type="checkbox" value="1"></span></div>
                        Keep me signed in
                    </label>
                    @*<a class="btn blue pull-right border-form-radius" href="index.html">Login <i class="m-icon-swapright m-icon-white"></i></a>*@
                    <button type="submit" class="btn blue pull-right border-form-radius"> Login <i class="m-icon-swapright m-icon-white"></i>  </button>
                </div>
                <div class="forget-password">
                    <h4>Forgot your password ?</h4>
                    <p>no worries, click <a id="forget-password" href="#">here</a> to reset your password. </p>
                  @*  <p>
                        Click <a href="~/Registration/SignUp" id="register">Registration</a>
                        to register your self.
                    </p>
                    <a href="Home/TestDataAnnotations">Test Data Annotations</a>
                    <a href="Home/TestDataAnnotations1">Test Data Annotations for User Models</a>*@
                </div>
            
            <!-- END LOGIN FORM -->
    
    
   @* <h3 class="form-title">Login to your account</h3>
    <div class="alert alert-error hide">
        <button class="close" data-dismiss="alert"></button>
        <span>Enter any username and password.</span>
    </div>
    <div class="control-group">
        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        <label class="control-label visible-ie8 visible-ie9">Username</label>
        <div class="controls">
            <div class="input-icon left">
                <i class="icon-user"></i>
                <input class="m-wrap placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" name="username" />
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label visible-ie8 visible-ie9">Password</label>
        <div class="controls">
            <div class="input-icon left">
                <i class="icon-lock"></i>
                <input class="m-wrap placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="password" />
            </div>
        </div>
    </div>
    <div class="form-actions">
        <label class="checkbox">
            <input type="checkbox" name="remember" value="1" />
            Keep me signed in
        </label>
        <button type="submit" class="btn blue pull-right border-form-radius">
            Login <i class="m-icon-swapright m-icon-white"></i>
        </button>
    </div>
    <div class="forget-password">
        <h4>Forgot your password ?</h4>
        <p>
            no worries, click <a href="#" id="forget-password">here</a>
            to reset your password.
        </p>
        <p>
            Click <a href="~/Registration/SignUp" id="register">Registration</a>
            to register your self.
        </p>
    </div>
    <div class="form-actions">

        <button type="submit" class="btn blue border-form-radius">
            Super Admin Login <i class="m-icon-swapright m-icon-white"></i>
        </button>
    </div>*@
    
    @Scripts.Render("~/bundle/Script/login")
    <script type="text/javascript">

        $(document).ready(function () {
            App.init();
            Login.init();
        });
    </script>
}

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
