@model StratusAccounting.Models.PurchaseInvoicePayment
@{
    ViewBag.Title = "AddPayment";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>AddPayment</h2>

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
    <div class="page-container row-fluid">
        <!-- BEGIN PAGE -->
        <div class="page-content">
            <!-- BEGIN PAGE CONTAINER-->
            <div class="container-fluid">
                <!-- BEGIN PAGE HEADER-->
                <div class="row-fluid">
                    <div class="span12">

                        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                        <!--<h3 class="page-title">Preferences</h3>-->
                        <ul class="breadcrumb margin-top-20">
                            <li><i class="icon-home"></i><a href="index.html">Home</a> <i class="icon-angle-right"></i></li>
                            <li><a href="chart_of_accounts.html">Transactions</a></li>
                            <li><a href="chart_of_accounts.html">Invoices</a></li>
                            <li><i class="icon-angle-right"></i><a href="Payments.cshtml">Payment</a></li>
                        </ul>
                        <!-- END PAGE TITLE & BREADCRUMB-->
                    </div>
                </div>
                <!-- END PAGE HEADER-->
                <!-- BEGIN PAGE CONTENT-->
                <div class="row-fluid">
                    <div class="span12">
                        <!-- BEGIN SAMPLE FORM PORTLET-->
                        <div class="portlet box blue border-topf">
                            <div class="portlet-body flip-scroll">
                                <!-- BEGIN FORM-->
                                <form class="horizontal-form" action="#">
                                    <h3 class="form-section matop">Payment</h3>
                                    <!--<i class="icon-ok"></i>-->
                                    <div class="row-fluid">
                                        <div class="span6 ">
                                            <div class="control-group">
                                                <label for="firstName" class="control-label">Date</label>
                                                <div class="controls">
                                                    @Html.TextBoxFor(model => model.Date, new { @class = "m-wrap span12 border-form-radius", @id = "txtDate" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="span6 ">
                                            <div class="control-group">
                                                <div class="controls">
                                                    <label class="control-label">Amount</label>
                                                    @Html.TextBoxFor(model => model.Amount, new { @class = "m-wrap span12 border-form-radius", @id = "txtAmount" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span6">
                                            <div class="control-group">
                                                <div class="controls">
                                                    <label class="control-label">Paid To</label>
                                                    @Html.DropDownListFor(model => model.PaidTo, (SelectList)ViewBag.CompanyNames, "--select--", new { @class = "m-wrap span12 border-form-radius", @id = "ddlPaidTo" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="span6">
                                            <div class="control-group">
                                                <div class="controls">
                                                    <label class="control-label">Instrument</label>
                                                    @Html.DropDownListFor(model => model.PaymentTypesId, (SelectList)ViewBag.Instruments, "--select--", new { @class = "m-wrap span12 border-form-radius", @id = "ddlInstrument" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span6">
                                            <div class="control-group">
                                                <div class="controls">
                                                    <label class="control-label">Instrument #</label>
                                                    @Html.TextBoxFor(model => model.InstrumentNum, new { @class = "m-wrap span12 border-form-radius", @id = "txtInstrumentNum" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="span6">
                                            <div class="control-group">
                                                <div class="controls">
                                                    <label class="control-label">Status</label>
                                                    @Html.DropDownListFor(model => model.PaymentStatusId, (SelectList)ViewBag.Statuses, "--select--", new { @class = "m-wrap span12 border-form-radius", @id = "ddlStatus" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span6">
                                            <div class="control-group">
                                                <div class="controls">
                                                    <label class="control-label">Received For</label>
                                                    @Html.TextBoxFor(model => model.ReceivedFor, new { @class = "m-wrap span12 border-form-radius", @id = "txtReceivedFor" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="span6">
                                            <div class="control-group">
                                                <div class="controls">
                                                    <label class="control-label">Tags</label>
                                                    @Html.TextBoxFor(model => model.Tags, new { @class = "m-wrap span12 border-form-radius", @id = "txtTags" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn blue" value="Add" />
                                        @*<input type="button" class="btn blue" onclick="AddPayment()" value="Add" />*@
                                        <a class="btn" onclick="CloseAddPopup();">Cancel</a>
                                    </div>
                                </form>
                                <!-- END FORM-->
                            </div>
                        </div>
                        <!-- END SAMPLE FORM PORTLET-->
                    </div>
                </div>
                <!-- END PAGE CONTENT-->
            </div>
            <!-- END PAGE CONTAINER-->
        </div>
        <!-- END PAGE -->
    </div>

    <!-- END PAGE CONTENT-->
}
<script type="text/javascript">

    $(document).ready(
        function () {
            $("#txtDate").datepicker();
        }
        );

</script>
