@model IEnumerable<StratusAccounting.Models.UserVendor>

@{
    ViewBag.Title = "UserVendors";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<h2>UserVendors</h2>

@Styles.Render("~/bundle/Datepicker")
@*<script src="~/Scripts/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="~/Scripts/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>

<script src="~/Scripts/plugins/data-tables/jquery.dataTables.min.js"></script>
<link href="~/Scripts/plugins/select2/select2_stratus.css" rel="stylesheet" />
<script src="~/Scripts/plugins/jquery.blockui.min.js"></script>*@



<div class="page-content">
    <!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                <ul class="breadcrumb margin-top-20">
                    <li><i class="icon-home"></i><a href="/Home/Dashboard">Home</a> <i class="icon-angle-right"></i></li>
                    <li><a href="/Vendors/UserVendors">Vendors</a></li>
                    <li><i class="icon-angle-right"></i><a href="/Vendors/UserVendors">Vendors List</a></li>
                </ul>
                <!-- END PAGE TITLE & BREADCRUMB-->
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet box blue border-topf">

                    <div class="portlet-body">
                            <div class="row-fluid">
                            <table class="table table-striped table-bordered table-hover table-full-width dataTable" id="sample_2" aria-describedby="sample_2_info">
                                <thead>
                                    <tr class="b1" role="row">
                                        <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample_2" rowspan="1" colspan="1" aria-label="S.No: activate to sort column ascending" style="width: 76px;">S.No</th>
                                        <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="sample_2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Company Name: activate to sort column descending" style="width: 333px;">Company Name</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample_2" rowspan="1" colspan="1" aria-label="First &amp;amp; Last Name: activate to sort column ascending" style="width: 247px;">First &amp; Last Name</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample_2" rowspan="1" colspan="1" aria-label="Phone No: activate to sort column ascending" style="width: 201px;">Phone No</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample_2" rowspan="1" colspan="1" aria-label="Payable: activate to sort column ascending" style="width: 119px;">Payable</th>
                                    </tr>
                                </thead>
                                <tbody role="alert" aria-live="polite" aria-relevant="all">
                                    @{
                                        if (Model != null)
                                        {
                                            foreach (StratusAccounting.Models.UserVendor item in Model)
                                            {
                                        <tr class="odd">
                                            <td class="hidden-480 ">@item.Sno</td>
                                            <td class=" sorting_1"><a href="#" class="acolor">@item.CompanyName</a></td>
                                            <td class=" "><a href="#" class="acolor">@item.VendorFirstName @item.VendorLastName</a></td>
                                            <td class=" "><a href="#" class="acolor">@item.PhoneNo</a></td>
                                            <td class=" "><a href="#" class="acolor">@item.Payable</a></td>
                                        </tr>
                                            }
                                        }
                                    }
                            
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
    <!-- END PAGE CONTAINER-->
</div>


<script type="text/javascript">
    $(document).ready(
        function () {
            $("#txtPurchaseDt").datepicker();
            NormalLoad();
        }
        );

    function NormalLoad() {
        $('#normalDiv').load("@Url.Action("List_Vendor","Vendors")");
    }

    function GridLoad() {
        //debugger;
        $('#normalDiv').load("@Url.Action("List_Vendor_Grid","Vendors")");
    }

    function removeAssetType(assetTypeId) {
        $.ajax({
            url: '/Organization/DeleteAssetType/',
            type: "Post",
            dataType: "Json",
            //contentType: 'application/json, charset=utf-8',
            data: { "assetTypeId": assetTypeId },
            success: function () {
                //debugger;  //var result = msg.data;

                $('#' + assetTypeId).remove();

                $("#ddlAssetTypeList option[value='" + assetTypeId + "']").remove();

            },
            error: function (error) {
                //debugger;
                alert(error.responseText);
            }
        });
    }
    function onManageAssetTypeClose() {

    }
    function DeleteAssetsToEmployee(employeeId, assetId) {
        $.ajax({
            url: '/Organization/DeleteAssetsToEmployee/',
            type: "Post",
            dataType: "Json",
            //contentType: 'application/json, charset=utf-8',
            data: { "employeeId": employeeId, "assetId": assetId },
            success: function () {
                //debugger;  //var result = msg.data;

                $('#' + employeeId).remove();

            },
            error: function (error) {
                //debugger;
                alert(error.responseText);
            }
        });
    }
</script>


@Scripts.Render("~/bundle/Script/Dashboard")
