
@model IEnumerable<StratusAccounting.Models.PurchaseInvoice>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

}
<link href="~/Scripts/plugins/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/plugins/data-tables/jquery.dataTables.min.js"></script>

<div class="page-content">
    <!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">

                <!-- BEGIN PAGE TITLE & BREADCRUMB-->

                <ul class="breadcrumb margin-top-20">
                    <li><i class="icon-home"></i><a href="index.html">Home</a> <i class="icon-angle-right"></i></li>
                    <li><a href="chart_of_accounts.html">Transactions</a></li>
                    <li><a href="invoice.html"><i class="icon-angle-right"></i>Invoices</a></li>
                </ul>
                <!-- END PAGE TITLE & BREADCRUMB-->
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet box blue border-topf">
                    <div class="portlet-body">
                        <h3 class="page-title matop border-btoom">Invoices&nbsp;<a href="~/Invoices/AddPurchaseInvoice"><i class="icon-plus-sign"></i></a></h3>
                        <!-- BEGIN FORM-->
                        <div class="row-fluid">
                            <!--BEGIN TABS-->
                            <div class="span12">
                                <div class="btn-group margin-bottom-10">
                                    <a href="#">
                                        <button class="btn blue form-border active">Invoices</button>
                                    </a><a href="~/Invoices/GetPayments">
                                        <button class="btn blue form-border">Payments</button>
                                    </a><a href="~/Invoices/InvoiceSalesReceipts">
                                        <button class="btn blue form-border">Sales Receipts</button>
                                    </a>
                                    <div class="invoice-clear-both1"></div>
                                    <a href="invoice_credit_memo.html">

                                        <button class="btn blue form-border">Credit Memo</button>
                                    </a><a href="invoice_delayed_charge.html">
                                        <button class="btn blue form-border">Delayed Charge</button>
                                    </a>
                                </div>
                                <!--BEGIN TABS-->
                                <div class="portlet-body payment-display-block">

                                    <div id="sample_2_wrapper" class="dataTables_wrapper form-inline" role="grid">
                                        
                                        <table class="table table-striped table-bordered table-hover table-full-width dataTable" id="sample_2" aria-describedby="sample_2_info">
                                            <thead>
                                                <tr class="b1" role="row">
                                                    <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample_2" rowspan="1" colspan="1" aria-label="S.No: activate to sort column ascending" style="width: 76px;">S.No</th>
                                                    <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="sample_2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Invoice #: activate to sort column descending" style="width: 148px;">Invoice #</th>
                                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample_2" rowspan="1" colspan="1" aria-label="Type: activate to sort column ascending" style="width: 119px;">Type</th>
                                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample_2" rowspan="1" colspan="1" aria-label="Due Date: activate to sort column ascending" style="width: 141px;">Due Date</th>
                                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample_2" rowspan="1" colspan="1" aria-label="Customer: activate to sort column ascending" style="width: 143px;">Customer</th>
                                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample_2" rowspan="1" colspan="1" aria-label="Amount: activate to sort column ascending" style="width: 120px;">Amount</th>
                                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample_2" rowspan="1" colspan="1" aria-label="Amount: activate to sort column ascending" style="width: 120px;">Balance</th>
                                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample_2" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 109px;">Status</th>
                                                </tr>
                                            </thead>

                                            <tbody role="alert" aria-live="polite" aria-relevant="all">

                                                @foreach (var item in Model)
                                                {
                                                    <tr>


                                                        <td class="hidden-480 ">@item.SNo</td>
                                                        @*<td class=" sorting_1"><a href="#" class="details-color">@item.PurchaseInvoiceId</a></td>*@
                                                        <td>@Html.ActionLink(item.InvoiceNumber, "ViewPurchaseInvoice", "Invoices", new { id = @item.PurchaseInvoiceId }, new { @id = "lnk" })</td>
                                                        <td class=" ">@item.InvoiceType</td>
                                                        <td class=" ">@item.DueDate.GetValueOrDefault().ToString("MM/dd/yyyy")</td>
                                                        <td class=" ">@item.Customer</td>
                                                        <td class=" ">@string.Format("{0:C}", item.Amount)</td>
                                                        <td class=" ">@string.Format("{0:C}", item.Balance)</td>
                                                        <td class=" ">@item.InvoiceStatus
                                                            <div class="btn-group pull-right">
                                                                <button data-toggle="dropdown" class="btn dropdown-toggle padding-booton"><span class="caret"></span></button>
                                                                <ul class="dropdown-menu">
                                                                    @*  <li><a href="#">View</a></li>
                                                                    <li><a href="#">Edit</a></li>
                                                                    <li><a href="#">Copy</a></li>
                                                                    <li><a href="#">Delete</a></li>
                                                                    <li><a href="#">Mark as Draft</a></li>
                                                                    <li><a href="#">Mark as Sent</a></li>
                                                                    <li><a href="#">Mark as Paid</a></li>
                                                                    <li><a href="#">Mark as Void</a></li>*@
                                                                    @if (item.InvoiceStatusList != null && item.InvoiceStatusList.Count > 0)
                                                                    {
                                                                        for (int i = 0; i < item.InvoiceStatusList.Count; i++)
                                                                        {
                                                                        @*<li value="@item.InvoiceStatusList[i].InvoicestatusId" onclick="invoiceStatusChange(@item.PurchaseInvoiceId,@item.InvoiceStatusList[i].InvoicestatusId);">
                                                                            <a href="#">@item.InvoiceStatusList[i].InvoicestatusDesc</a></li>*@
                                                                        
                                                                         <li value="@item.InvoiceStatusList[i].InvoicestatusId">
                                                                             
                                                                    <a href="~/Invoices/UpdateInvoiceStatus/@item.InvoiceStatusList[i].InvoicestatusId-@item.PurchaseInvoiceId">@item.InvoiceStatusList[i].InvoicestatusDesc</a></li>
                                                                        }
                                                                    }
                                                                </ul>
                                                                @* @Html.DropDownList("ddlStatus", (SelectList)ViewBag.InvoiceStatus, "--Select--", new { @id = "ddlStatus-" + @item.PurchaseInvoiceId, @class = "dropdown-menu", @onchange = "javascript:return invoiceStatusChange(this.id);" })*@

                                                            </div>
                                                        </td>


                                                    </tr>    
                                                }

                                            </tbody>
                                        </table>
                                        
                                    </div>
                                </div>


                                @*  <div class="portlet-body flip-scroll payment-display">
                                    <table class="table-bordered table-striped table-condensed cf margin-top-10">
                                        <thead class="cf">
                                            <tr class="b1">
                                                <th class="journal-padding-bootom">Invoice #</th>
                                                <th class="journal-padding-bootom">Type</th>
                                                <th class="numeric journal-padding-bootom">Due Date</th>
                                                <th class="numeric journal-padding-bootom">Customer</th>
                                                <th class="numeric journal-padding-bootom">Amount</th>
                                                <th class="numeric journal-padding-bootom">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr>
                                                <td class="journal-padding-bootom"><a href="new_purchase_invoice.html" class="details-color">BKT001/501</a></td>
                                                <td class="journal-padding-bootom">Purchase</td>
                                                <td class="numeric journal-padding-bootom">1/24/14</td>
                                                <td class="numeric journal-padding-bootom">BPS</td>
                                                <td class="numeric journal-padding-bootom">$12000</td>
                                                <td class="numeric journal-padding-bootom">Draft</td>
                                            </tr>
                                            <tr>
                                                <td class="journal-padding-bootom"><a href="new_purchase_invoice.html" class="details-color">BKT001/501</a></td>
                                                <td class="journal-padding-bootom">Sales</td>
                                                <td class="numeric journal-padding-bootom">1/24/14</td>
                                                <td class="numeric journal-padding-bootom">BPS</td>
                                                <td class="numeric journal-padding-bootom">$12000</td>
                                                <td class="numeric journal-padding-bootom">Draft
                                                    <div class="btn-group pull-right">
                                                        <button data-toggle="dropdown" class="btn dropdown-toggle padding-booton"><span class="caret"></span></button>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="#">View</a></li>
                                                            <li><a href="#">Edit</a></li>
                                                            <li><a href="#">Copy</a></li>
                                                            <li><a href="#">Delete</a></li>
                                                            <li><a href="#">Mark as Draft</a></li>
                                                            <li><a href="#">Mark as Sent</a></li>
                                                            <li><a href="#">Mark as Paid</a></li>
                                                            <li><a href="#">Mark as Void</a></li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="journal-padding-bootom"><a href="new_purchase_invoice.html" class="details-color">BKT001/501</a></td>
                                                <td class="journal-padding-bootom">Purchase</td>
                                                <td class="numeric journal-padding-bootom">1/24/14</td>
                                                <td class="numeric journal-padding-bootom">BPS</td>
                                                <td class="numeric journal-padding-bootom">$12000</td>
                                                <td class="numeric journal-padding-bootom">Draft
                                                    <div class="btn-group pull-right">
                                                        <button data-toggle="dropdown" class="btn dropdown-toggle padding-booton"><span class="caret"></span></button>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="#">View</a></li>
                                                            <li><a href="#">Edit</a></li>
                                                            <li><a href="#">Copy</a></li>
                                                            <li><a href="#">Delete</a></li>
                                                            <li><a href="#">Mark as Draft</a></li>
                                                            <li><a href="#">Mark as Sent</a></li>
                                                            <li><a href="#">Mark as Paid</a></li>
                                                            <li><a href="#">Mark as Void</a></li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>*@

                                <!--END TABS-->
                            </div>
                            <!--END TABS-->
                        </div>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>

    <!-- END PAGE CONTAINER-->
</div>
@Scripts.Render("~/bundle/Script/Dashboard")
<script>
    function invoiceStatusChange(objId, objStatus) {
    }
</script>
